@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @apply font-recursive
}

body{
    background-color:black;
}
.container{
    max-width: 1030px;
}
.tile{
    @apply bg-bgColor p-6 max-w-[330px] min-h-[260px] border-solid border-2 border-borderColor rounded-2xl
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.hide-scroll {
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.svg-icon {
    filter: brightness(0) invert(1); 
    transition: filter 0.3s ease;
  }

  .image-wrapper:hover .svg-icon {
    filter: brightness(0); 
  }

  .image-wrapper {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #1F1F1F; 
    border-radius: 1rem;
    cursor: pointer;
  }

  .image-wrapper:hover {
    background-color: white;
    transition:all 0.3s ease
  }